@mixin button-tag-white {
    border-radius: 20px;
    border: $color-border-button 0.5px solid;
    text-decoration: none;
    color: $color-primary;
    font-weight: 700;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 0.7em;
    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
    @include mobile-l-only {
        padding: 2px 5px;
    }
}

@mixin button-static {
    border-radius: 5px;
    text-decoration: none;
    background-color: $color-primary;
    color: $color-white;
    font-weight: 500;
    padding: 16px 14px;
    font-size: 0.8em;
    @include mobile-l-only {
        padding: 8px 18px ;
        position: fixed;
        z-index: 1;
        bottom: 4%;
        left: 35%;
    }
    @include mobile-m-only {
        left: 32%;
    }
    @include mobile-s-only {
        left: 30%;
    }
}