@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: 'DM Sans', Arial, sans-serif;
    font-weight: 400;
  }

.content {
    h1 {
        text-align: right;
        font-weight: 300;
        color: $color-primary;
        margin-right: 10%;
        margin-top: -3.1%;
        margin-bottom: 4%;
    }
}