.content__photographer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    margin-top: 6%;
    margin-bottom: 6%;
    &__profile {
        flex: 33%;
        text-align: center;
        @include mobile-l-only {
            flex: 100%;
        }
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            object-position: top;
            clip-path: ellipse(50% 50%);
        }
        &__tag ul {
            display: flex;
            column-gap: 5px;
            justify-content: center;
            list-style-type: none;
            margin-top: 3%;
            a {
                @include button-tag-white;
            }
            .sr-only {
                @include sr-only;
            }
        }
    }
}