$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-tertiary: #525252;
$color-background-white: #fafafa;
$color-white: #ffffff;
$color-black: #000000;
$color-border-button: #C4C4C4;

$breakpoints: (
    mobile-s: 320px,
    mobile-m: 376px,
    mobile-l:426px,
    laptop: 1440px,
)