// Header home page 

.header {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    &__help-nav {
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 45%;
        text-decoration: none;
        padding: 3px 14px;
        border-radius: 5px;
        color: black;
        font-weight: 700;
        font-size: 0.8em;
        background-color: $color-secondary;
    }
    &__logo {
        margin-left: 10px;
    }
    &__navigation {
        margin-top: 14px;
        ul {
            display: flex;
            column-gap: 8px;
            list-style-type: none;
        }
        a {
            @include button-tag-white
        }
        .sr-only {
            @include sr-only
        }
    }
}

.header-photographer {
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 3.5%;
}